{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <title> AirCraft </title>
    </head>
    <body>
        <h4>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <p>
                 
                        {{ form.cruising_speed.label }}<br>


                    {{ form.cruising_speed }}

                </p>
                <p>
                    {{ form.submit }}
                </p>
            </form>
        </h4>
    </body>
</html>
{% endblock %}